<section class="section">
  <div class="container">
    <h1 class="title">
      Fixtures & Results in 2020-21
    </h1>
  </div>
</section>
  <div class="tile is-ancestor">

    <div class="tile is-parent">
    <div class="tile is-fullwidth is-vertical">
    <div class="tile">
      <div class="tile is-parent">

        <article class="tile is-child notification is-dark">
          <p class="title">Statistics</p>
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th><abbr title="MP">MP</abbr></th>
                <th><abbr title="Win">Win</abbr></th>
                <th><abbr title="Draw">Draw</abbr></th>
                <th><abbr title="Lose">Lose</abbr></th>
                <th><abbr title="Goal">Goal</abbr></th>
                <th><abbr title="Conceded">Conceded</abbr></th>
                <th><abbr title="Rate">Rate</abbr></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>16</td>
                <td>3</td>
                <td>8</td>
                <td>4</td>
                <td>1</td>
                <td>10</td>
                <td>75%</td>
              </tr>
            </tbody>
            </table>
          </article>
        </div>
      </div>

    <div class="tile is-parent">
      <div class="tile">
         <article class="tile is-child notification is-dark">
        <p class="title">Fixtures & Results</p>
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
            <tr>
            <th><abbr title="Date">Date</abbr></th>
            <th><abbr title="Oppornent">Oppornent</abbr></th>
            <th><abbr title="Place">Place</abbr></th>
            <th><abbr title="Result">Result</abbr></th>
            <th><abbr title="Scorer">Scorer</abbr></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
            <th><abbr title="Date">Date</abbr></th>
            <th><abbr title="Oppornent">Oppornent</abbr></th>
            <th><abbr title="Place">Place</abbr></th>
            <th><abbr title="Result">Result</abbr></th>
            <th><abbr title="Scorer">Scorer</abbr></th>
            </tr>
          </tfoot>

          <tbody>
            <tr>
            <td><a>2010/01/01</a></td>
            <td>Dynamo Wormwood</td>
            <td>Hurlingham Park</td>
            <td> - </td>
            <td> - </td>
            </tr>
            <tr>
            <td><a>2010/01/01</a></td>
            <td>Dynamo Wormwood</td>
            <td>Hurlingham Park</td>
            <td> - </td>
            <td> - </td>
          </tr>
        <tr>
          <td><a>2010/01/01</a></td>
          <td>Dynamo Wormwood</td>
          <td>Hurlingham Park</td>
          <td>1-3<span class="icon">
                <i class="fas fa-dizzy"></i>
              </span></td>
          <td>Bjorn Videkull</td>
        </tr>
        <tr>
          <td><a>2010/01/01</a></td>
          <td>Dynamo Wormwood</td>
          <td>Hurlingham Park</td>
          <td><i class="far fa-grin-beam"></i>5-4</td>
          <td>Bjorn Videkull, Tom, Wataru,Wataru,Wataru</td>
        </tr>
        <tr>
          <td><a>2010/01/01</a></td>
          <td>Dynamo Wormwood</td>
          <td>Hurlingham Park</td>
          <td>1-3</td>
          <td>Bjorn Videkull</td>
        </tr>
        <tr>
          <td><a>2010/01/01</a></td>
          <td>Dynamo Wormwood</td>
          <td>Hurlingham Park</td>
          <td>5-4</td>
          <td>Bjorn Videkull, Tom, Wataru,Wataru,Wataru</td>
        </tr>
        <tr>
          <td><a>2010/01/01</a></td>
          <td>Dynamo Wormwood</td>
          <td>Hurlingham Park</td>
          <td>1-3</td>
          <td>Bjorn Videkull</td>
        </tr>
        <tr>
          <td><a>2010/01/01</a></td>
          <td>Dynamo Wormwood</td>
          <td>Hurlingham Park</td>
          <td>5-4</td>
          <td>Bjorn Videkull, Tom, Wataru,Wataru,Wataru</td>
        </tr>


    </tbody>
      </table>

          </article>
      </div>
    </div>
  </div>
</div>
