<body>
<section class="section">
  <div class="container">
    <h1 class="title">
      London Japanese Football Club
    </h1>
<br><br>
    <div class="field">
      <p class="control has-text-centered">
        <label class="label is-text"> Member Login</label>
      </p>
    </div>

    <div class="field">
      <p class="control has-text-centered">
      <input class="input" type="email" style="width: 30%;" placeholder="Email">
      </p>
    </div>

    <div class="field">
      <p class="control has-text-centered">
      <input class="input" type="password" style="width: 30%;" placeholder="Password">
      </p>
    </div>

    <div class="field">
      <p class="control has-text-centered">
      <button class="button is-link"> Log In </button>
      </p>
    </div>

    <div class="field">
      <p class="control has-text-centered">
      <button class="button is-text"> Sign In </button>
    </p>
  </div>
<br><br><br>
  </div>
</section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        The Club
      </h1>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
      <div class="tile is-child box">
      <p class="title">About</p>
        1983年8月。
        <br><br>
        当時日本サッカー協会の国際委員であった伊藤氏と、ロンドンにいた東大サッカー部OBの数名、
        損保関係駐在員などの13名がREGENT PARKに集まり発足しました。
        <br><br>
        当初は土曜日午後に練習をしていましたが、練習終了後のパブの時間に合わせるために日曜日の午前に変更になりました。
        <br><br>
        現地のリーグに入る案も有りますが、全員が楽しく参加できる環境を優先するために、親睦試合を中心に活動をしています。
        <br><br>
        初代監督の伊藤氏が92年に帰国し、現在は日本サッカー協会国際委員でもある渋谷氏が2代目の監督を務めています。
        <br><br>
        現在ロンドンに日本人チームは複数ありますが、30年以上続くロンジャパは老舗チームとしての地位を確立しています。
        <br><br>
        駐在員主体のチームなので出張や会社のゴルフ接待などで多忙な人が多く、毎回違うメンバーで試合を余儀なくされている状態です。
        <br><br>
        楽しく球を蹴り、その後に美味しいビールを飲む！　これがロンジャパの趣旨です。
        <br><br>
        一度しか無い人生です、サッカーを人生の潤滑油として過ごしたい人は入部大歓迎です。
        <br><br>
        参加希望、対戦相手希望はコンタクトフォームからお願いします。
      </div>
      </div>

      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">Inner City W.C.</p>
          <figure class="image is-4by3">
            <img src="/sampletop1.jpg">
          </figure>
        </div>

        <div class="tile is-child box">
          <p class="title">Maeda Cup</p>
          <figure class="image is-4by3">
            <img src="/club4.jpg">
          </figure>
        </div>

        <div class="tile is-child box">
          <p class="title">Sunday!</p>
          <figure class="image is-4by3">
            <img src="/club5.jpg">
          </figure>
        </div>
      </div>
  </div>
 </section>

 <section class="section">
   <div class="container">
     <h1 class="title">
     Contact Form
     </h1>
   </div>

 <div class="field">
   <label class="label">Name</label>
     <div class="control  has-icons-left has-icons-right">
     <input class="input" type="text" placeholder="Taro Yamada" style="width: 30%;">
     <span class="icon is-small is-left">
       <i class="fas fa-user"></i>
     </span>
     </div>
 </div>


 <div class="field">
   <label class="label">Email</label>
   <div class="control has-icons-left has-icons-right">
     <input class="input" type="email" placeholder="mail@...com" style="width: 45%;">
     <span class="icon is-small is-left">
       <i class="fas fa-envelope"></i>
     </span>
   </div>
 </div>

 <div class="field">
   <label class="label">Subject</label>
   <div class="control">
     <input class="input" type="subject" placeholder="Subject" style="width: 60%;">
   </div>
 </div>

 <div class="field">
   <label class="label">Message</label>
   <div class="control">
     <textarea class="textarea" placeholder="Message"></textarea>
   </div>
 </div>


 <div class="field is-grouped">
   <div class="control">
     <button class="button is-link">Submit</button>
   </div>
 </div>
 </section>

 <section class="section">
   <div class="container">
     <h1 class="title">
       Sponsors
     </h1>
     <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Logo</p>
        <p class="subtitle">Company link</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Logo</p>
        <p class="subtitle">Company link</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Logo</p>
        <p class="subtitle">Company link</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Logo</p>
        <p class="subtitle">Company link</p>
      </article>
    </div>
  </div>
  </div>
</section>
</body>
