<section class="section">
  <div class="container">
    <h1 class="title">
      管理画面
    </h1>
</section>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title">使い方</p>
          <p class="subtitle"></p>
        </article>
        <article class="tile is-child notification">
          <p class="title">告知枠</p>
          <p class="subtitle"></p>
          <div class="field">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="投稿投稿投稿"></textarea>
                </div>
              </div>
            </div>
          </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-link">
                Send
              </button>
            </div>
          </div>
        </div>
      </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">スタッフ連絡枠</p>
          <p class="subtitle"></p>
          <div class="field">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="投稿投稿投稿"></textarea>
                </div>
              </div>
            </div>
          </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-link">
                Send
              </button>
            </div>
          </div>
        </div>
      </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">決め事枠</p>
          <p class="subtitle"></p>
          <div class="field">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="投稿投稿投稿"></textarea>
                </div>
              </div>
            </div>
          </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-link">
                Send
              </button>
            </div>
          </div>
        </div>
      </div>
        </article>
      </div>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child notification">
        <p class="title">Fixture</p>
        <div class="content">
          <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
              <tr>
              <th><abbr title="Date">Date</abbr></th>
              <th><abbr title="Oppornent">Oppornent</abbr></th>
              <th><abbr title="Place">Place</abbr></th>
              <th><abbr title="Map">Map</abbr></th>
              <th><abbr title="Time">Time</abbr></th>
              <th><abbr title="Acton">Acton</abbr></th>
              </tr>
            </thead>

            <tbody>
              <tr>
              <td><input class="input" type="text" placeholder="カレンダー表示"></td>
              <td><input class="input" type="text" placeholder="Text input"></td>
              <td><input class="input" type="text" placeholder="Text input"></td>
              <td><input class="input" type="text" placeholder="Gmap"></td>
              <td><input class="input" type="text" placeholder="時間"></td>
              <td><input class="input" type="text" placeholder="時間"></td>
              </tr>
      </tbody>
        </table>
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-link">
                  Send
                </button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification">
        <p class="title">Result</p>
        <div class="content">
          <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
              <tr>
              <th><abbr title="Date">Date</abbr></th>
              <th><abbr title="Oppornent">Oppornent</abbr></th>
              <th><abbr title="Place">Place</abbr></th>
              <th><abbr title="Result">Result</abbr></th>
              <th><abbr title="Scorer">Scorer</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td><a>20/01/01</a></td>
              <td>Dynamo Wormwood</td>
              <td>Hurlingham Park</td>
              <td><input class="input" type="text" placeholder="H" "style="width: 5%;">
                <input class="input" type="text" placeholder="A" "style="width: 5%;">
              </td>
              <td>
                <input class="input" type="text" placeholder="リスト"style="width: 20%;">
                <input class="input" type="text" placeholder="リスト"style="width: 20%;">
                <input class="input" type="text" placeholder="リスト"style="width: 20%;">
                <input class="input" type="text" placeholder="リスト"style="width: 20%;">
                <input class="input" type="text" placeholder="リスト"style="width: 20%;">
                <input class="input" type="text" placeholder="リスト"style="width: 20%;">
                <input class="input" type="text" placeholder="リスト"style="width: 20%;">
                <input class="input" type="text" placeholder="リスト"style="width: 20%;">
              </td>
              </tr>

      </tbody>
        </table>
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-link">
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </article>
    </div>



    <div class="tile is-parent">
      <article class="tile is-child notification">
        <p class="title">Member</p>
        <p class="subtitle">agreeボタンと年会費の可否</p>
        <div class="content">
          <table class="table is-fullwidth is-striped is-hoverable">
           <thead>
              <tr>
               <th><abbr title="Number"></abbr></th>
               <th><abbr title="Name">Name</abbr></th>
               <th><abbr title="Name">Pitch</abbr></th>
               <th><abbr title="DOB">DOB</abbr></th>
               <th><abbr title="Position">Pos.</abbr></th>
               <th><abbr title="email">Email</abbr></th>
               <th><abbr title="Phone">Phone</abbr></th>
               <th><abbr title="memo">Memo</abbr></th>
               <th><abbr title="Annual">Annual</abbr></th>
               <th><abbr title="AGREE">AGREE</abbr></th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th>1</th>
               <td>Lionel Messi</td>
               <td>メッシ</td>
               <td>1987/10/10</td>
               <td>FW</td>
               <td><i class="far fa-envelope"></i></td>
               <td>0120333906</td>
               <td>2020年3月末で本帰国になります。</td>
               <td><input type="checkbox"></td>
               <td>Agreed</td>
             </tr>
             <tr>
               <th>2</th>
               <td>Lionel Messi</td>
               <td>メッシ</td>
               <td>1987/10/10</td>
               <td>FW</td>
               <td><i class="far fa-envelope"></i></td>
               <td>0120333906</td>
               <td>2020年3月末で本帰国になります。</td>
               <td><input type="checkbox"></td>
               <td>Agreed</td>
             </tr>
             <tr>
               <th>3</th>
               <td>Lionel Messi</td>
               <td>メッシ</td>
               <td>1987/10/10</td>
               <td>FW</td>
               <td><i class="far fa-envelope"></i></td>
               <td>0120333906</td>
               <td>2020年3月末で本帰国になります。</td>
               <td><input type="checkbox"></td>
               <td><button class="button is-dark">
                 AGREE
               </button></td>
             </tr>
             <tr>
               <th>4</th>
               <td>Lionel Messi</td>
               <td>メッシ</td>
               <td>1987/10/10</td>
               <td>FW</td>
               <td><i class="far fa-envelope"></i></td>
               <td>0120333906</td>
               <td>2020年3月末で本帰国になります。</td>
               <td><input type="checkbox"></td>
               <td>Agreed</td>
             </tr>
             <tr>
               <th>5</th>
               <td>Lionel Messi</td>
               <td>メッシ</td>
               <td>1987/10/10</td>
               <td>FW</td>
               <td><i class="far fa-envelope"></i></td>
               <td>0120333906</td>
               <td>2020年3月末で本帰国になります。</td>
               <td><input type="checkbox"></td>
               <td><button class="button is-dark">
                 AGREE
               </button></td>
             </tr>
             <tr>
               <th>6</th>
               <td>Lionel Messi</td>
               <td>メッシ</td>
               <td>1987/10/10</td>
               <td>FW</td>
               <td><i class="far fa-envelope"></i></td>
               <td>0120333906</td>
               <td>2020年3月末で本帰国になります。</td>
               <td><input type="checkbox"></td>
               <td>Agreed</td>
             </tr>
             <tr>
               <th>7</th>
               <td>Lionel Messi</td>
               <td>メッシ</td>
               <td>1987/10/10</td>
               <td>FW</td>
               <td><i class="far fa-envelope"></i></td>
               <td>0120333906</td>
               <td>2020年3月末で本帰国になります。</td>
               <td><input type="checkbox"></td>
               <td><button class="button is-dark">
                 AGREE
               </button></td>
             </tr>
             <tr>
               <th>8</th>
               <td>Lionel Messi</td>
               <td>メッシ</td>
               <td>1987/10/10</td>
               <td>FW</td>
               <td><i class="far fa-envelope"></i></td>
               <td>0120333906</td>
               <td>2020年3月末で本帰国になります。</td>
               <td><input type="checkbox"></td>
               <td>Agreed</td>
             </tr>
             <tr>
               <th>9</th>
               <td>Lionel Messi</td>
               <td>メッシ</td>
               <td>1987/10/10</td>
               <td>FW</td>
               <td><i class="far fa-envelope"></i></td>
               <td>0120333906</td>
               <td>2020年3月末で本帰国になります。</td>
               <td><input type="checkbox"></td>
               <td>Agreed</td>
             </tr>

           </tbody>
         </table>
        </div>
      </article>
    </div>


  </div>

</div>
