<section class="section">
    <div class="container">
      <h1 class="title">
        <i class="fas fa-spinner"></i>Upcoming Match
      </h1>
    </div>
</section>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">

      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-dark">
          <p class="title"><i class="fas fa-futbol"></i>Match Info.</p>
          <table class="table is-fullwidth">
          <thead>
            <tr>
              <th><abbr title="Date">Date</abbr></th>
              <th><abbr title="Oppornent">Oppornent</abbr></th>
              <th><abbr title="Place">Place</abbr></th>
              <th><abbr title="Map">Map</abbr></th>
              <th><abbr title="Time">Time</abbr></th>
              <th><abbr title="Acton">Acton</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a>2020/01/01</a></td>
              <td>Dynamo Wormwood</td>
              <td>Hurlingham Park</td>
              <td> <i class="fab fa-google"></i> </td>
              <td>9:45</td>
              <td>9:15</td>
            </tr>
          </tbody>
          </table>
        </article>

        <article class="tile is-child notification">
         <p class="title"><i class="fas fa-users"></i>Team Info.</p>
          <table class="table is-fullwidth">
          <thead>
              <tr>
                <th><abbr title="Player">Player</abbr></th>
                <th><abbr title="FW">FW</abbr></th>
                <th><abbr title="MF">MF</abbr></th>
                <th><abbr title="DF">DF</abbr></th>
                <th><abbr title="GK">GK</abbr></th>
                <th><abbr title="Absent">Absent</abbr></th>
                <th><abbr title="AVGAGE">Avg.</abbr></th>
                <th><abbr title="Direct">Direct</abbr></th>
                <th><abbr title="Acton">Acton</abbr></th>
                <th><abbr title="Acton">Car</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>16</td>
                <td>3</td>
                <td>8</td>
                <td>4</td>
                <td>1</td>
                <td>10</td>
                <td>37.9</td>
                <td>8</td>
                <td>5</td>
                <td>3</td>
              </tr>
            </tbody>
            </table>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title"><i class="fas fa-id-badge"></i>Join!</p>
          <div class="field">
            <div class="field">
              <label class="label">Way</label>
            </div>
            <div class="field-body">
              <div class="field is-normal">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>現地集合</option>
                      <option>アクトン待ち</option>
                      <option>アクトン車</option>
                      <option>欠席</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="field">
              <label class="label">Memo</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control is-fullwidth">
                  <textarea class="textarea" placeholder="i.e.）○人乗れます。体調悪し。後半から参加。友人連れて行きます。"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-link">
                    Submit
                  </button>
                </div>
              </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child notification is-dark">
        <div class="content">
          <p class="title"><i class="fas fa-user-friends"></i>Players</p>

          <table class="table is-fullwidth is-striped">
          <thead>
            <tr>
              <th><abbr title="Number"></abbr></th>
              <th><abbr title="Name">Name</abbr></th>
              <th><abbr title="Position">Pos</abbr></th>
              <th><abbr title="Age">Age</abbr></th>
              <th><abbr title="Direct">Direct</abbr></th>
              <th><abbr title="Acton">Acton</abbr></th>
              <th><abbr title="Memo">Memo</abbr></th>

            </tr>
          </thead>

          <tbody>
            <tr>
              <th>1</th>
              <td><a>Lionel Messi</a></td>
              <td>FW</td>
              <td>32</td>
              <td> - </td>
              <td><i class="fas fa-car"></i></td>
              <td>3人まで乗れます。風邪気味です。予定有りのため前半で帰ります。</td>
            </tr>
            <tr>
              <th>2</th>
              <td><a>Takefusa Kubo</a></td>
              <td>MF</td>
              <td>18</td>
              <td> <i class="fas fa-walking"></i></td>
              <td> - </td>
              <td>マジョルカからなので後半までに行きます。</td>
            </tr>
            <tr>
              <th>3</th>
              <td><a>Tatsuya Yamaguchi</a></td>
              <td>Drum</td>
              <td>32</td>
              <td> - </td>
              <td><i class="fas fa-car"></i></td>
              <td>逮捕されました</td>
            </tr>
            <tr>
              <th>4</th>
              <td><a>Bjorn</a></td>
              <td>MF</td>
              <td>33</td>
              <td> - </td>
              <td><i class="far fa-hand-paper"></i></td>
              <td>今日はハットトリックします。</td>
            </tr>
            <tr>
              <th>5</th>
              <td><a>Wataru Ito</a></td>
              <td>FW</td>
              <td>30</td>
              <td> <i class="fas fa-walking"></i></td>
              <td> - </td>
              <td>合コンで持ち帰ったモチベーションガールを連れて行きます。</td>
            </tr>

          <tr>
            <th>6</th>
            <td><a>Masaya Fujino</a></td>
            <td>FW</td>
            <td>28</td>
            <td> - </td>
            <td><i class="far fa-hand-paper"></i></td>
            <td>遅刻します</td>
          </tr>
            </tbody>
            </table>
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification">
        <div class="content">
          <p class="title"><i class="fas fa-user-friends"></i>Supporters</p>
          <table class="table is-fullwidth is-striped">
          <thead>
            <tr>
              <th><abbr title="Number"></abbr></th>
              <th><abbr title="Name">Name</abbr></th>
              <th><abbr title="Memo">Memo</abbr></th>

            </tr>
          </thead>

          <tbody>
            <tr>
              <th>1</th>
              <td>Atsuko Maeda</td>
              <td>応援してます。</td>
            </tr>
            <tr>
              <th>2</th>
              <td>Atsuko Maeda</td>
              <td>出張中のため、欠席です</td>
            </tr>
            <tr>
              <th>3</th>
              <td>Atsuko Maeda</td>
              <td>来週は参加します。</td>
            </tr>
            <tr>
              <th>4</th>
              <td>Atsuko Maeda</td>
              <td>怪我で復帰未定です。</td>
            </tr>
            <tr>
              <th>5</th>
              <td>Atsuko Maeda</td>
              <td>頑張ってください。</td>
            </tr>

          <tr>
            <th>6</th>
            <td>Atsuko Maeda</td>
            <td>欠席です</td>
          </tr>
            </tbody>
            </table>
        </div>
      </article>
    </div>
  </div>
 </div>
</div>
