<section class="section">
  <div class="container">
    <h1 class="title">
      Member's Board
    </h1>
  </div>
</section>

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
      <div class="tile">

        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-link">
            <p class="subtitle"><i class="fas fa-futbol"></i>Next Match...</p>
            <p >1/19 Dynam Wormwood</p>
            <p>参加の連絡はこちら</p>
          </article>
          <article class="tile is-child notification is-primary">
            <p class="subtitle"><i class="fas fa-users"></i>告知枠</p>
            <p>FPL参加者募集！コードは、000-000-000</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <p class="subtitle"><i class="far fa-bell"></i>スタッフ連絡枠</p>
            <p class="subtitle">ダイスケが行方不明</p>
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification is-warning">
            <div class="content">
              <p class="title"><i class="fas fa-check-circle"></i>決め事枠</p>
              <div class="content">
                遅刻厳禁<br>
                楽しく<br>
                ダイナモとは仲良く
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-dark">
          <p class="title"><i class="fab fa-teamspeak"></i>メンバー投稿枠</p>
          <article class="box media">
             <figure class="media-left">
                <p class="image is-64x64">
                   <img src="http://placehold.it/128x128">
                </p>
             </figure>
             <div class="media-content">
                <div class="content">
                   <p><strong>Tatsuya Yamaguchi</strong><br>
                      TOKIOの山口達也（46）が強制わいせつ容疑で書類送検された。<br>
                      <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                    </p>
                </div>
                <article class="media">
                    <figure class="media-left">
                       <p class="image is-48x48">
                          <img src="http://placehold.it/96x96">
                       </p>
                    </figure>
                    <div class="media-content">
                       <div class="content">
                         <p><strong>Wataru Ito</strong><br>
                          合コン開きませんか？合コン開きませんか？合コン開きませんか？合コン開きませんか？<br>
                            <small><a>Like</a> · <a>Reply</a> · 1 hrs</small>
                         </p>
                       </div>
                    </div>
                </article>
             </div>
          </article>
          <article class="box media">
             <figure class="media-left">
                <p class="image is-48x48">
                   <img src="http://placehold.it/96x96">
                </p>
             </figure>
             <div class="media-content">
                <div class="content">
                   <p><strong>Masaya Fujino</strong><br>
                     今までお世話になりました。<br>
                     <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
                   </p>
                </div>
             </div>
          </article>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title"><i class="far fa-post"></i>投稿する</p>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
                  <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  Your name
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Message</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="今月末に帰国します。お世話になりました。"></textarea>
                </div>
              </div>
            </div>
          </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary">
              Send message
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>

      </div>

    </div>

        </article>
  </div>
