<section class="section">
  <div class="container">
    <h1 class="title">
    Settings and Notes
    </h1>
  </div>
</section>

  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">会員注意事項</p>
        <p class="subtitle">1. 会費について</p>
        <p class="subtitle is-7">1.1会費（主にグラウンド及び設備費、審判費、大会費）：初年度£50（入会費£20含）、2年目以降年間£30。学生及びその他の理由で会費納入の困難な方に対しては、ある程度考慮いたしますので詳しくはお問い合わせ下さい。
    <br>1.2当クラブは営利目的で運営をしておりません。従って、上記の費用は通常年会費として設定しておりますが、予期しない理由によって部費が不足した場合やその他運営が困難になった場合は多少早めに回収となりますのでご協力下さい。
    <br>1.3会費額は予期無く変動する場合もございますがご協力下さい。
    <br>1.4途中入会及び途中退会の場合でも一期全額納入となります。月割り等の納入・払戻しは致しません。
    <br>1.5会費の納入締切日までにあらかじめ断り無くお支払いが無い場合は自動的に自主退会とみなします。
    <br>1.6領収書は発行できませんのでご了承下さい。
      </p>
      </div>
      <div class="tile is-child box">
        <p class="subtitle">2. 活動中及び事故等について</p>
        <p class="subtitle is-7">2.1.試合・練習の際はサッカーに適切な衣類及び道具（スネ当、スパイク、キーパーグローブ等）をご用意下さい。
          <br>2.2.試合にはクラブ規定のユニホームがあります。支給される衣類以外はご用意下さい（ショーツ、靴下等）。お求め方法はお問い合わせ下さい。
          <br>2.3.クラブ活動中は事故の無いよう常に努力を致しておりますが、スポーツである以上、不慮の事故を完全に避けることは出来ません。練習・試合、その他のクラブ活動中または交通事故等移動中などに発生した事故傷病等に関しましては、クラブ及び関係者はその責任を一切負いません。
          <br>2.4.クラブ運営の傷害・生命保険制度等はございません。あらかじめ個々で入ることを強くお薦め致します。
          <br>2.5.クラブ活動中の窃盗、紛失、損害またはその他の事件、事故等に関して、クラブ及び関係者は責任を負いません。
        </p>
      </div>
      <div class="tile is-child box">
        <p class="subtitle">3. ホームページについて</p>
        <p class="subtitle is-7">3.1.LJFCのホームページはクラブの活動情報を皆様に通達することを主旨としております。皆様のご協力をお願い致します。
        <br>3.2.無断でサイト上の情報をいかなる方法で複製することを禁じます。
        <br>3.3.無断でメンバー等の情報及び活動内容を外部に流出すること、サイトにいたずら及びその他、他人に迷惑がかかるような行為を禁じます。
        <br>3.4.LJFCのホームページによっての売買のトラブル、損益やその他の問題についてサイト及び関係者は一切責任を負いません。
        <br>3.5.最新情報を常時更新しておりますが、事情により更新できない場合もありますがご了承下さい。
        <br>3.6.誤字脱字及び情報の過ち等に関しては管理人にお問い合わせ下さい。
        </p>
      </div>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child notification is-dark">
      <div class="tile is-child box">
        <p class="title">Changes</p>
        <label class="label">Type</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="answer">
              Player
            </label>
            <label class="radio">
              <input type="radio" name="answer">
              O.B.
            </label>
          </div>
        <div class="field">
        <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="First Name" style="width: 20%;">
            <input class="input" type="text" placeholder="Last Name" style="width: 20%;">
          </div>
        </div>

        <div class="field">
        <label class="label">名前</label>
          <div class="control">
            <input class="input" type="text" placeholder="姓" style="width: 20%;">
            <input class="input" type="text" placeholder="名前" style="width: 20%;">
          </div>
        </div>

        <div class="field">
        <label class="label">Name on the Picth</label>
          <div class="control">
            <input class="input" type="text" placeholder="Plz Call me..." style="width: 20%;">
          </div>
        </div>

        <div class="field">
        <label class="label">Position</label>
          <span class="select">
              <select>
                <option selected>Bench</option>
                <option>FW</option>
                <option>MF</option>
                <option>DF</option>
                <option>GK</option>
              </select>
          </span>
        </div>

        <div class="field">
          <label class="label">Date of Birth</label>
            <span class="select">
              <select>
                <option selected>Year</option>
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
            </span>
            <span class="select">
                <select>
                  <option selected>Month</option>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
            </span>
            <span class="select">
                <select>
                  <option selected>Date</option>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
            </span>
        </div>

        <div class="field">
            <label class="label">Phone</label>
            <div class="control">
              <input class="input" type="phone" placeholder="0120333906" style="width: 30%;">
            </div>
        </div>

        <div class="field">
            <label class="label">Email(ID)</label>
            <div class="control">
              <input class="input" type="email" placeholder="mail@...com" style="width: 50%;">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="email" placeholder="*****" style="width: 20%;">
            </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Update</button>
          </div>
          <div class="control">
            <button class="button is-danger">Account Delete</button>
          </div>


        </div>
      </div>
      </article>
  </div>
