<section class="section">
    <div class="container">
      <h1 class="title">
        Squads and staffs in 2020-21
      </h1>
    </div>
</section>

  <div class="tile is-ancestor">
    <div class="tile is-fullwidth is-vertical is-parent">
      <div class="tile">

        <div class="tile is-parent">
          <article class="tile is-child notification">
            <p class="title">Staffs</p>
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
            <p class="title is-4 has-text-centered">Chairman</p>
            <p class="subtitle is-5 has-text-centered">Hideaki Shibuya</p>
          </article>

          <article class="tile is-child notification">
            <p class="title">　　　</p>
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
            <p class="title is-4 has-text-centered">Manager</p>
            <p class="subtitle is-5 has-text-centered">Isaho Nakasho</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">　　　</p>
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
            <p class="title is-4 has-text-centered">Captain</p>
            <p class="subtitle is-5 has-text-centered">Kiyomasa Ueki</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">　　　</p>
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
            <p class="title is-4 has-text-centered">Staff</p>
            <p class="subtitle is-5 has-text-centered">Taro</p>
          </article>
        </div>
      </div>


    <div class="tile is-parent">
      <div class="tile is-child">
       <article class="tile is-child notification is-dark">
         <p class="title">Players</p>
         <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
             <tr>
              <th><abbr title="Number"></abbr></th>
              <th><abbr title="Name">Name</abbr></th>
              <th><abbr title="Name">Pitch</abbr></th>
              <th><abbr title="age">Age</abbr></th>
              <th><abbr title="Position">Pos.</abbr></th>
              <th><abbr title="attend">MP</abbr></th>
              <th><abbr title="goal">G</abbr></th>
              <th><abbr title="assist">A</abbr></th>
              <th><abbr title="email">Email</abbr></th>
              <th><abbr title="Phone">Phone</abbr></th>
              <th><abbr title="memo">Memo</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>Lionel Messi</td>
              <td>メッシ</td>
              <td>32</td>
              <td>FW</td>
              <td>20</td>
              <td>10回</td>
              <td>10回</td>
              <td><i class="far fa-envelope"></i></td>
              <td>0120333906</td>
              <td>2020年3月末で本帰国になります。</td>
            </tr>
        <tr>
          <th>2</th>
          <td>Takefusa Kubo</td>
          <td>タケ</td>
          <td>18</td>
          <td>FW</td>
          <td>1</td>
          <td>10回</td>
          <td>15回</td>
          <td><i class="far fa-envelope"></i></td>
          <td>0120333906</td>
          <td> - </td>
        </tr>
        <tr>
          <th>3</th>
          <td>David Beckham</td>
          <td>貴公子</td>
          <td>45</td>
          <td>MF</td>
          <td>0</td>
          <td>10回</td>
          <td>0回</td>
          <td><i class="far fa-envelope"></i></td>
          <td>0120333906</td>
          <td>7/1 ~ 7/18まで一時帰国します。</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Wataru Ito</td>
          <td>フィニッシャー</td>
          <td>30</td>
          <td>FW</td>
          <td>2</td>
          <td>10回</td>
          <td>100回</td>
          <td><i class="far fa-envelope"></i></td>
          <td>0120333906</td>
          <td>合コンが忙しくて参加できません。</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Tatsuya Yamaguchi</td>
          <td>メンバー</td>
          <td>32</td>
          <td>FW</td>
          <td>0</td>
          <td>10回</td>
          <td>0回</td>
          <td><i class="far fa-envelope"></i></td>
          <td>0120333906</td>
          <td>不祥事のため活動自粛中です。</td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

          </tbody>
        </table>
        </article>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child">
       <article class="tile is-child notification">
         <p class="title">Stand裏</p>
         <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
             <tr>
              <th><abbr title="Number"></abbr></th>
              <th><abbr title="Name">Name</abbr></th>
              <th><abbr title="age">Age</abbr></th>
              <th><abbr title="email">Email</abbr></th>
              <th><abbr title="memo">Comment</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>Koki Harada</td>
              <td>20</td>
              <td><i class="far fa-envelope"></i></td>
              <td>4月に復帰します！</td>
            </tr>
        <tr>
          <th>2</th>
          <td>Koki Harada</td>
          <td>20</td>
          <td><i class="far fa-envelope"></i></td>
          <td>4月に復帰します！</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Koki Harada</td>
          <td>20</td>
          <td><i class="far fa-envelope"></i></td>
          <td>4月に復帰します！</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Koki Harada</td>
          <td>20</td>
          <td><i class="far fa-envelope"></i></td>
          <td>4月に復帰します！</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Koki Harada</td>
          <td>20</td>
          <td><i class="far fa-envelope"></i></td>
          <td>4月に復帰します！</td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

          </tbody>
        </table>
        </article>
      </div>
    </div>

    </div>
  </div>
