<section class="section">
  <div class="container">
    <h1 class="title">
      Member Sign Up
    </h1>
  </div>
</section>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <div class="field">
      <label class="label">Type</label>
        <div class="control">
          <label class="radio">
            <input type="radio" name="answer">
            Player
          </label>
          <label class="radio">
            <input type="radio" name="answer">
            O.B.
          </label>
        </div>
      </div>
      <div class="field is">
      <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="First Name" style="width: 20%;">
          <input class="input" type="text" placeholder="Last Name" style="width: 20%;">
        </div>
      </div>

      <div class="field">
      <label class="label">名前</label>
        <div class="control">
          <input class="input" type="text" placeholder="姓" style="width: 20%;">
          <input class="input" type="text" placeholder="名前" style="width: 20%;">
        </div>
      </div>

      <div class="field">
      <label class="label">Name on the Picth</label>
        <div class="control">
          <input class="input" type="text" placeholder="(player only)" style="width: 30%;">
        </div>
      </div>

      <div class="field">
      <label class="label">Position</label>
        <span class="select">
            <select>
              <option selected>Bench</option>
              <option>FW</option>
              <option>MF</option>
              <option>DF</option>
              <option>GK</option>
              <option>Back stand</option>
            </select>
        </span>
      </div>

      <div class="field">
        <label class="label">Date of Birth</label>
          <span class="select">
            <select>
              <option selected>Year</option>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </span>
          <span class="select">
              <select>
                <option selected>Month</option>
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
          </span>
          <span class="select">
              <select>
                <option selected>Date</option>
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
          </span>
        </div>

        <div class="field">
          <label class="label">Phone</label>
          <div class="control">
            <input class="input" type="phone" placeholder="0120333906" style="width: 30%;">
          </div>
        </div>

        <div class="field">
          <label class="label">Email(ID)</label>
          <div class="control">
            <input class="input" type="email" placeholder="mail@...com" style="width: 50%;">
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="email" placeholder="*****" style="width: 20%;">
          </div>
        </div>

        <div class="field">
        <label class="label">Comment</label>
          <div class="control">
            <textarea class="textarea" placeholder="(For Player)意気込みを！（For O.B.)応援コメントや在籍期間を！"></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>

        </div>

      </div>
  </div>

  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">For Player</p>
      <p>全て記入してください。</p>
      <p class="title">For O.B.</p>
      <p>名前、DOB、コメント、Emailを記入してください</p>

    </div>
    <div class="tile is-child box">
      <p class="title">登録の注意点</p>
      <p>個人情報</p>
    </div>
  </div>

</div>
